[submodule "lib/nutsnbolts/nutsnbolts"]
	path = lib/nutsnbolts/nutsnbolts
	url = https://github.com/JohK/nutsnbolts.git
[submodule "lib/MCAD/MCAD"]
	path = lib/MCAD/MCAD
	url = https://github.com/openscad/MCAD.git
