# exclude some stuff introduced by the OS or the author's favorite editor
**/.DS_Store
**/*.sublime-workspace

# do not track the generated dependency files since they contain the absolute local paths
**/*.deps

# no need to have the dirty spots visible throughout the history...
attic

# do not track the generated assembly and printer STLs
assemblies/**/*.stl
printer/**/*.stl

# do not track the temporary BOM data file
bom/*.echo

# do not track the video frames or rendered video files
video/*.png
video/*.avi
video/*.mp4
